<!DOCTYPE html>
<html>
<head>
  <title>PingMe - Login</title>
</head>
<body>
  <h1>Login or Register</h1>
  <form method="POST" action="/login">
    <input name="username" placeholder="Username" required />
    <input name="password" type="password" placeholder="Password" required />
    <button>Login</button>
  </form>

  <form method="POST" action="/register">
  <input type="text" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
  <button type="submit">Register</button>
</form>

</body>
</html>
